*{
    margin: 0px;
    padding: 0px;
}

p {
    padding: 0px;
    margin-left: 10px;
    margin-right: 10px;
}

.container{
    display: grid;
    grid-template-areas: 
    "navbar header header"
    "navbar main-content ads"
    "navbar footer footer";
    grid-template-columns: 200px 2fr 1fr; /*first "nav" column 200px wide, then the remaining space 2/3 2nd colum 1/3 the 3rd column*/
    grid-template-rows:  60px auto 70px; /*1st row 60px 2nd row however much it needs 3rd ro 70px */
    height: 100vh; /*defines the web page height which is the whole height*/
    position: relative; /*enables absolute scaling on parent element(container) - for the stuff inside to be relative on container*/
}

.header{
    grid-area: header;
    text-align: center;
    padding: 20px;
    background-color: lightblue;
    position: fixed;
    top: 0;
    right: 0;
    height: 20px;
    left: 200px;
    z-index: 1; /*ensures header stays on top of content when scrolled - otherwise border from content shows in header*/
}
.navbar{
    grid-area: navbar;
    text-align: center;
    padding: 20px;
    background-color: lightcoral;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 160px;
}
.content{
    grid-area: main-content;
    text-align: center;
    padding: 20px;
    background-color: lightcyan;
}
.ads{
    grid-area: ads;
    text-align: center;
    padding: 20px;
    background-color: lightgreen;
}
.footer{
    grid-area: footer;
    text-align: center;
    padding: 20px;
    background-color: lightsalmon;
    
}

.flex-container{
    display: flex;
    justify-content: space-between;
}

.content-container {
    display: grid;
    grid-template-areas:
    "account account"
    "performance graph"
    "holdings holdings";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 400px auto;
    position: relative;
}

.account{
    grid-area: account;
    border-style: solid; /* Solid border style */
    border-width: 1px; /* Set the border width */
    border-color: black; /* Set the border color */
    padding: 20px; /* Padding inside the account box */
}

.performance{
    grid-area: performance;
    border-style: solid; /* Solid border style */
    border-width: 1px; /* Set the border width */
    border-color: black; /* Set the border color */
    padding: 20px; /* Padding inside the account box */
}

.graph{
    grid-area: graph;
    border-style: solid; /* Solid border style */
    border-width: 1px; /* Set the border width */
    border-color: black; /* Set the border color */
    padding: 20px; /* Padding inside the account box */
}

.holdings{
    grid-area: holdings;
    border-style: solid; /* Solid border style */
    border-width: 1px; /* Set the border width */
    border-color: black; /* Set the border color */
    padding: 20px; /* Padding inside the account box */
}

@media(max-width:768px){
    .container{
        display: grid;
        grid-template-areas: 
        "header"
        "navbar"
        "main-content"
        "ads"
        "footer";
        grid-template-columns: 1fr;
        grid-template-rows: 60px auto auto auto 70px;
    }

    .header{
        grid-area: header;
        text-align: center;
        padding: 20px;
        background-color: lightblue;
        position:sticky;
        
        z-index: 1; /*ensures header stays on top of content when scrolled - otherwise border from content shows in header*/
    }

    .navbar{
        grid-area: navbar;
        text-align: center;
        padding: 20px;
        background-color: lightcoral;
        position:static;
        width: 100%;
        z-index: 0; /*ensures header stays on top of content when scrolled - otherwise border from content shows in header*/
    }

    .content{
        grid-area: main-content;
        text-align: center;
        padding: 20px;
        background-color: lightcyan;
        
    }
}